.App{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
background-image: url("../src/assets/imagen2.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
min-height: 70vw;
z-index: -1;
width: 99vw;

}