.contenedor{
   
    background-color: #222725;
    border: 11px solid #70e000;
    padding: 20px;
    height:auto;
    position: relative;
    overflow: hidden;
    justify-content: center;
    width: 25rem;
    opacity: 95%;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.41);
    border-radius: 33px 33px 33px 33px;
    
}

.titulo{
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texto{
    color: #ffffff;
}

.contenedor:hover{
    box-shadow: 10px 10px 17px 8px #ffff3f;
}

.imagen{
    border-radius: 900px;
    border: solid #ffffff;
    border-style: groove;
  

}

.closeButton{
    border: 0px;
    background-color: rgb(208, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: 0.5s;
    color: white;
}

.closeButton:hover{
    box-shadow: 25px 33px 39px 0px rgba(245,235,235,0.75);

}